@model Horatio_2._0.Models.UserQuest

@{
    ViewBag.Title = "Details";
}
    <div>
        <h4>UserQuest</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Quest.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Quest.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isActive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isComplete)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isComplete)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Target)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Target)
            </dd>
            <dt>
                Percent Complete
            </dt>
            <dd>
                @Model.PercentComplete()
            </dd>
        </dl>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quest.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quest.Description)
                </th>
            </tr>
        </table>
        @*<table class="table">
            @foreach ( var item in Model.UserLabors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Labor.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Labor.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isComplete)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.UserLaborID}) |
                        @Html.ActionLink("Complete", "Complete", "UserLabors", new { id = item.UserLaborID}, null)
                    </td>
                </tr>
            }*@
        </table>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserQuestID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

