@model Horatio_2._0.Models.Quest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
    <div>
        <h4>Quest</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Topic.Theme)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Topic.Theme)
            </dd>   
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
        </dl>
        <table class="table">
            @foreach (var item in Model.Labors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quest.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                </tr>
            }
        </table>
        

</div>
<div class="col-md-12">
    <input type="button" style="float:right; background-color:green; color: white;" value="Challenge Accepted" onclick="@("window.location.href='" + @Url.Action("AddToProfile", "Quests", new { id = Model.QuestID }) + "'");" />
</div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h3>"Now no way can I stray;"</h3>
    <div id="map"></div>
    <script>
        var latlng = {lat: 43.0731, lng: -89.4012};
        function getLatLng(address){
            var cleanAddress = address.split(' ').join('+');
            var settings = {
                "async": false,
                "crossDomain": true,
                "url": "http://maps.googleapis.com/maps/api/geocode/json?address="+cleanAddress+"&senor=false",
                "method": "GET",
            }

            $.ajax(settings).done(function (response) {
                latlng =  response["results"][0]['geometry']['location'];
            });
        }
        function initMap() {

            var quest = @Html.Raw(Json.Encode(Model)); 
        var LaborLatLng = {lat: 43.0731, lng: -89.4012}; 
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 14,
          center: LaborLatLng
        });
        for (i = 0; i < quest.Labors.length; i++) 
        {
            if (quest.Labors[i]['Location'] != null) 
            {
                getLatLng(quest.Labors[i]['Location'])

                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map
                });

            }
        }


      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYRtMdjjBLttrxgkgrS48RWxSNCLwgGGs&callback=initMap">
    </script>

</body>