@model IEnumerable<Horatio_2._0.Models.Quest>

@{
    ViewBag.Title = "Index";
}

<br/>
<br/>
<h1>Quests</h1>
<body>

    <p>
        Quest: An arduous search for something. Create quests for yourself and for the community.
        Some have been provided by Horatio. Some were written by your peers. Help us grow. Write quests for self improvement.
        Write quests to discover your area. Write quests to keep a schedule. Write quests to tell a story. Write quests to experience life.
        Horatio hopes you find meaning on your search.
    </p>
    <p>           
        @using (Html.BeginForm())
        {
        <p>
            
            <br />
            <br />
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" value="Filter" /> @Html.TextBox("SearchString")
                </div>
                <div class="col-md-6">
                    <input type="button" style="float:right;" value="New Quest" onclick="@("window.location.href='" + @Url.Action("Create", "Quests") + "'");" />
                </div>
            </div>
              
        </p>
        }
     

    <p>

    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic.Theme)
            </th>  
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Theme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.QuestID }) |
                @Html.ActionLink("Details", "Details", new { id=item.QuestID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.QuestID })
            </td>
        </tr>
    }
    
    </table>
</body>

